@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}
body{
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-size-adjust: 2%;
  font-size: larger;
  margin: 0px;
}

.header{
  background-color: #258D93;
  text-align: center;
  padding: 3%;
  margin-left: 10%;
  margin-right: 10%;
}
.content{
  background-color: none;
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #33333333;
  margin-left: 10%;
  margin-right: 10%;
}
.footer{
  background-color: #a8b9a2;
  padding: 3%;
  margin-left: 10%;
  margin-right: 10%;
}
.bloc3{
  background-color:none;
  align-self: center;
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  }
.bloc2{
  display: block;
  align-self: center;
  width: 40%;
}
.bloc1{background-color: #258D93; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  border-radius: 10%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  align-self: center;
  margin-left: 5%;
}
.image{width: 75%;
height: 75%;
border-radius: 20%;
}
@media (max-width:800px) {
  .bloc1{
      font-size: small;
  }
  .maintenant{
      display: none;
  }
}

  