@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
body {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    border: 0px;
}

.flexcontainer1 {
    display: flex;
    min-height: 500px;
    width: 90%;
    flex-direction: row;
    background-color: #E0E0E0;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.flexcontainer2 {
    display: flex;
    min-height: 100px;
    width: 90%;
    flex-direction: column;
    align-items: center;
    background-color: #E0E0E0;
    border-radius: 15px;
    justify-content: center;
}

.fc11 {
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: column;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

.Photo {
    display:flex;
    color: white;
    background-color: black;
    border-radius: 100%;
    height: 150px;
    width: 150px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.InformationsPersonnelles {
    display: flex;
    width: 100%;
    height: 25px;
    border-radius: 15px;
    background-color: #7FC0C4;
    margin-bottom: 15px;
    justify-content: center;
    text-align: left;
    padding-left: 10px;
    border: 0px;
}
.formIP{
    width: 80%;
}

.ParamètreGetD {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.ParamètreG {
    display: flex;
    width: 50%;
    height: 100%;
    padding-top: 2%;
    padding-left: 2%;
    flex-direction: column;
    justify-content: right;
    text-align: left;
    align-items: center;
}

.ParamètreD {
    display: flex;
    width: 50%;
    height: 100%;
    padding-top: 2%;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    align-items: center;
}

.Paramètres {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    margin-bottom: 20px;
}

input {
    border-radius: 10px;
    margin-bottom: 10px;
    color: black;
    background-color: #7FC0C4;
}

input::placeholder {
    color: black;
}

.BigAM {
    width: 90%;
}

.Aproposdemoi {
    display: flex;
    width: 90%;
    height: 400px;
    border-radius: 15px;
    background-color: #7FC0C4;
    text-align: center;
    justify-content: center;
    margin-bottom: 15px;
    border: 0px;
}

.Check {
    background-color: #7FC0C4;
    border: 0px;
    width: 75%;
    border-radius: 15px;
    padding-left: 3%;
    text-align: left;
    justify-content: space-around;
    margin-bottom: 15px;
}

.Button1 {
    background-color: #258D93;
    width: 40%;
    height: 30px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    border: 0px;
}

.Button2 {
    background-color: #258D93;
    width: 30%;
    height: 30px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    border: 0px;
}

