<!DOCTYPE html> 
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./a-proposCSS.css">
        
        <title>
            A propos de nous
        </title>
    </head>

    <body>
        <h1> A propos de nous </h1>
    </body>

    <div class="description">
        <h2 class="t2">Qui sommes-nous ?</h2>
        <p align="justify">
            Notre entreprise... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis ante sem. Nam lacinia condimentum nunc et tristique. In maximus magna mauris, quis dapibus velit lobortis a. Pellentesque ut lacus sit amet ligula bibendum feugiat nec eu lectus. Mauris ex felis, venenatis nec convallis a, aliquam id sem. Sed tristique justo eu eros facilisis feugiat. Nulla iaculis dictum est quis tincidunt. Suspendisse potenti. Donec bibendum quam bibendum tortor cursus fermentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam hendrerit ante id lacus congue ultrices. Aliquam tincidunt turpis ut elit fermentum dapibus. Sed leo augue, dapibus nec velit sed, vestibulum venenatis mauris. Suspendisse pellentesque tincidunt eros, nec eleifend felis interdum ac. Quisque scelerisque nibh sit amet placerat pulvinar.
        
        
        </p>
        <br>
    </div>

    <div class="t3">
        <h2>Job à pourvoir</h2>
    </div>

    <div class="job">
        
        <div class="job1">
            <h3 align="center"> Developpeur</h3>
            <p>
                Lieu : 
                <br>
                Rémunération : 
                <br>
                Description de l'offre : 
                <br>
                Postuler à : joboffer@gmail.com
                <br>
               
            </p>
        </div>
        
        <div class="job2">
            <h3 align="center"> Agent d'accueil</h3>
            <p>
                Lieu : 
                <br>
                Rémunération : 
                <br>
                Description de l'offre : 
                <br>
                Postuler à : joboffer@gmail.com
                <br>
            </p>
        </div>

        <div class="job3">
            <h3 align="center"> Data analist</h3>
            <p>
                Lieu : 
                <br>
                Rémunération : 
                <br>
                Description de l'offre : 
                <br>
                Postuler à : joboffer@gmail.com
                <br>
            </p>
        </div>

    </div>

</html>