<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Andrea - Admin</title>
    <link rel="stylesheet" href="../AdminCSS.css">
</head>
<body>



    <div class="flex-FAQ">
        <div class="FAQ">
            <input class="input-FAQ" type="text" placeholder="Rechercher sur la FAQ">
        </div>
        <hr>
        <div class="Envoyer">
            <div class="bouttonAdmin">
                <button type="button" class="bouttonContact">Messagerie</button>
            </div>
            <div class="bouttonAdmin">
                <button type="button" class="bouttonContact">Envoyer un ticket</button>
            </div>   
        </div>
        <div class="zonedetxt">
            <p>Vos tickets :</p>
        </div>


            <div class="flex-ticket">
                <div class="white container scroller "> 
                    <!-- a rendre dynamique avec le php-->
                    <a href="../View/messageAdmin.html" class="a-invisible">
                        <div class="msg">
                            <img src="../Data/image.png" width="40px">
                            <p class="admin-text-msg">FEFNRIUNREIUVNRIUGRURBVRUBRYURBVRUVBRVRBVRB</p>
                        </div>
                    </a>
                    <a href="../View/messageAdmin.html" class="a-invisible">
                        <div class="msg">
                            <img src="../Data/image.png" width="40px">
                            <p class="admin-text-msg">TEST</p>
                        </div>
                    </a>
                    <a href="../View/messageAdmin.html" class="a-invisible">
                        <div class="msg">
                            <img src="../Data/image.png" width="40px">
                            <p class="admin-text-msg">TEST</p>
                        </div>
                    </a>
                    <a href="../View/messageAdmin.html" class="a-invisible">
                        <div class="msg">
                            <img src="../Data/image.png" width="40px">
                            <p class="admin-text-msg">TEST</p>
                        </div>
                    </a> 
                    
                </div>

                
                

            </div> 
    </div>

    



    <footer>

    </footer>

</body>
</html> 