<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Andrea - Admin</title>
    <link rel="stylesheet" href="../Admin.css">
</head>
<body>
    <header>
    </header>

    <div class="flex-ticket">
        <div class="container-msg ">
            <div class="rep-msg">
                <p>Titre de la conversation</p>
            </div>
            <div class="container-bulles scroller">
                <div class="bubble-text-left">
                    <p>Blablabla</p>
                </div>
                <div class="bubble-text-right">
                    <p>Blablabla</p>
                </div>
                <div class="bubble-text-left">
                    <p>Blablabla</p>
                </div>
                <div class="bubble-text-right">
                    <p>Blablabla</p>
                </div>
                <div class="bubble-text-left">
                    <p>Blablabla</p>
                </div>
                <div class="bubble-text-right">
                    <p>Blablabla</p>
                </div>  
            </div>
            <input class="input-send-msg" type="text" placeholder="Type your message here ...">
        </div>
    </div>



    <footer>

    </footer>

</body> 