<!--BAS DE PAGE-->

<head>
    <title>Test1</title>
    <link rel="stylesheet" href="../Footer.css">
</head>
<body class="jeanneoskour2">

<style>
  a.link:link {color:black;text-decoration:none;}
  a.link:hover {text-shadow: white;text-decoration:underline;}
  a.link:visited {color:black;text-decoration:underline;}

  a.link2:link {color:black;text-decoration:none;}
  a.link2:hover {text-shadow: white;text-decoration:underline;}
  a.link2:visited {color:black;text-decoration:underline;}
</style>

  <footer class="footer-global">
    <div class="footer-yelp">
      <div class="footer-yelp footer-gauche">
        <a class="footer-yelp footer-bleu link" href="https://google.com">
          <p>ASSISTANCE</p>
        </a>
        <a class="footer-yelp footer-bleu link" href="https://google.com">
          <p>FAQ</p>
        </a>
      </div>  
      <div class="footer-yelp footer-milieu" >
        <a class="link" href="https://google.com" >A PROPOS DE NOUS</a>
        <span class="vertical-line"></span>
        <a class="link" href="https://youtube.com" >NOUS CONTACTER</a>
      </div>
      <div class="footer-yelp footer-droite">

        <!-- footer reseaux sociaux -->

        <div class="footer-aled">
          <a class="link" href="https://google.com" >NOUS SUIVRE</a>
        <div class = "footer-aled3">
          <img class="espaceimage" src="Data/facebook.png" height="35px" width="35px" alt="">
          <img class="espaceimage" src="Data/instagram.png" height="35px" width="35px" alt="">
          <img class="espaceimage" src="Data/tiktok.png" height="35px" width="35px" alt="">
          <img class="espaceimage" src="Data/twitter.png" height="35px" width="35px" alt="">
          <img class="espaceimage" src="Data/linkedin.png" height="35px" width="35px" alt="">
        </div>

        <!-- barre de recherche -->
        
        <div class="footer-aled2">
        </div>
        </div>
          <div class="footer-yelp footer-gris">
            <a class="footer-yelp link2" href="https://google.com">
            <p>CONDITIONS GENERALES D'UTILISATION</p></a>
            <a class="footer-yelp link2" href="https://google.com">
            <p>NOTRE POLITIQUE DE CONFIDENTIALITE</p></a>
          </div>
      </div>
    </div>  
  </footer>
</body>